# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env
.env.*

# IDE
.vscode/
.idea/

# Python cache
.pytest_cache/
.mypy_cache/

# Hugging Face / ML model cache
.cache/
huggingface_cache/
models/

# OS files
.DS_Store
Thumbs.db

# Mac archive metadata
__MACOSX/
.env
.venv/
__pycache__/
AI Engineer Internship - Assignment material/